@import 'jeet'

#container
  center()
  
//Error input Form Handeling
.input, .error
  width: 70%
label[class~="error"]
  span(1/1)
  shift(1/4)
  margin-top: 2px
  left: 0% !important
  color: red
  background: rgba(250, 10, 10, 0.03)
  border: 1px solid rgba(250, 10, 10, 0.10)
  border-radius: 3px;
  
//Error Collection Handeling
#ErrorMessage
  span(1/3)
  align(horizontal)
  position: absolute
  bottom: 0