<template name="recoverPassword">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3 class="page-header">Recover Password</h3>
      <form id="application-recover-password" class="recover-password">
        <p>Enter the email address associated with your account below and click the "Recover Password" button. You will receive an email with further instructions on how to reset your password.</p>
        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
        </div> <!-- end .form-group -->
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Recover Password">
        </div> <!-- end .form-group -->
      </form>
    </div> <!-- end .col-xs-12 -->
  </div> <!-- end .row -->
</template>
