<template name="recoverPassword">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4 class="page-header">Recover Password</h4>
      <form id="recover-password" class="recover-password">
        <p class="alert alert-info">Enter your email address below to receive a link to reset your password.</p>
        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Recover Password">
        </div>
      </form>
    </div>
  </div>
</template>
