<template name="resetPassword">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4 class="page-header">Reset Password</h4>
      <form id="reset-password" class="reset-password">
        <p class="alert alert-info">To reset your password, enter a new one below. You will be logged in with your new password.</p>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" name="newPassword" class="form-control" placeholder="New Password">
        </div>
        <div class="form-group">
          <label for="password">Repeat New Password</label>
          <input type="password" name="repeatNewPassword" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Reset Password &amp; Login">
        </div>
      </form>
    </div>
  </div>
</template>
