@import 'jeet'

#login
  align(both)
  span(1/2)

//This overides jquerys silly error reporting to keep formating
.input
  .icon
    height: 40px !important
    width: 37px !important

.signupButton
  width: 100%
  height: 100px
  .signupLabel
    align(both)


//Error Message
.login_error
  align(horizontal)
  position: absolute
  bottom: 0