@import 'jeet'
//edit()

//Yeah I dislike to using !important but sometimes
//It gets the job done right with framworks

//Form segment
.registerSegment
  span(1/2)
  shift(1/4)
  background: #F5F5F5 !important
  .field
    col(1/2 1/2, cycle: 2)
    label
      span(1/1)
      shift(1/7)
    .icon
      shift(1/8) 

//Bottom segment
.registerButtonContainer
  span(1/1)
  margin-top: 25px
  button
    column(1/3 1/2)
    shift(1/3)

.alreadyMember
  span(1/1)
  text-align: center
